/* .show-card {
  display: block;
}

.hide-card {
  display: none;
}
*/

#show-card-1 {
  display: none;
}

#hide-card-1 {
  display: block;
}

#show-card-2 {
  display: none;
}

#hide-card-2 {
  display: block;
}

#show-card-3 {
  display: none;
}

#hide-card-3 {
  display: block;
}
